# Import Pandas

To use the Pandas library, you need to import it into your coding environment. For these exercises, our coding environment is this Jupyter notebook. Pandas is typically imported and named as "pd".

In [ ]:
import pandas as pd

# Series

A series is a data type used by Pandas. It is like a one dimensional list, whose elements can be of any data type themselves.
Pandas contains a method, ``.Series()``, that initiates a series object from a Python list, tuple,

In [ ]:
s1 = pd.Series([10,20,30,40,50])

s_tuple = pd.Series(("apple", "banana", "cherry"))

s_dictionary = pd.Series({
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
})

In [ ]:
print("The s1 series values are:", s1.values)
print("The s1 index values are:", s1.index.values)
print("\n")
print("The s_tuple series values are:", s_tuple.values)
print("The s_tuple index values are:", s_tuple.index.values)
print("\n")
print("The s_dictionary series values are:", s_dictionary.values)
print("The s_dictionary index values are:", s_dictionary.index.values)

Index values in a series are generated by default. We can also define custom indexes at the time of creating series.

Below is a series of marks (grades) and the associated subjects can be defined as custom row indexes.

In [ ]:
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])

In [ ]:
print("The marks obtained by student are", s2)

We can provide a name for the whole series, as well as a name for the indexes.

In [ ]:
s2.name = 'Student Marks'
s2.index.name = 'Subject'

In [ ]:
print("The marks obtained by student - subjectwise:\n", s2)

## Subsetting the Series

Values inside the series can be accessed using the ``[ ]`` square bracket slicing operation

- Series can be sliced using the default index
- Series can also be sliced using string indices (indexes)

In [ ]:
# return the first element in the s2 series
s2[0]

In [ ]:
# slicing using default integer index
s1[1:4]

In [ ]:
# Slicing using string index
s2['Tamil']

## Creating a Series from a Dictionary

- A Python dictionary is a data structure which maps keys to a set of values.
- A dictionary contains key-value pairs.
- A series is similar to a dictionary in a way that it maps given indexes to a set of values.

Let's see how to create a series from a dictionary

I have a dictionary that represents fruits and prices. Let's create a series from this dictionary

In [ ]:
dict_fruits = { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

In [ ]:
# Lets convert this dictionary into a series
fruits = pd.Series(dict_fruits)

In [ ]:
print("Fruits and prices\n", fruits)

In [ ]:
# Slice the series and retrieve price of grapes
print("The price per kg of grapes is:", fruits['Grapes'])

# DataFrame

## Create a DataFrame from a Series object

Let's create a DataFrame from the marks series we created in the above step.

In [ ]:
df_marks = pd.DataFrame(s2, columns=['Student1'])

In [ ]:
print("The dataframe created from series is\n", df_marks)

## Create a DataFrame from a Dictionary

Let's say we have 2 series of heights and weights of the same set of persons and we want to put it together in a table.

Here we can create dictionary using both series and create a DataFrame using the Pandas ``.DataFrame()`` method.

In [ ]:
# Create height series (in feet)
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

# Create weight series (in kgs)
weight = pd.Series([65,89,75,60,59], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

In [ ]:
# Create dataframe
df_person = pd.DataFrame({'height': height, 'weight': weight})

print("The Person table details are:\n", df_person)